@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: black;
}

img {
    width: 100vw;
    border-radius: 0px 0px 10px 10px;
}

::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}

a {
    display: block;
    background-color: darkred;
    color: white;
    text-align: center;
    text-decoration: none;
    font-weight: bolder;
    font-size: 1.5em;
    padding: 20px;
    border-radius: 10px 10px 0px 0px;
}

a:hover {
    background-color: red;
    transform: translate( 0px, -2px);
    transition: 0.3s;
}
