@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

body {
    position: relative;
    background: url(../imagens/fundo-madeira.jpg) center top/cover no-repeat fixed;
    height: 100vh;
}

section#telefone {
    position: absolute;
    background: url(../imagens/frame-iphone.png) no-repeat;
    background-size: 100% 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 627px;
    width: 311px;
}

iframe#tela {
    position: relative;
    top: 79px;
    left: 21px;
    height: 473px;
    width: 269px;
}

section#redes-sociais {
    text-align: right;
}

section#redes-sociais > a > img {
    height: 60px;
    margin: 10px;
    border-radius: 50%;
    box-sizing: border-box;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.507);
}

section#redes-sociais > a > img:hover {
    transform: translate(-3px, -3px);
    border: 2px solid rgba(255, 255, 255, 0.479);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.507);
    transition: transform 0.3s, border 0.4s;
}