@charset "UTF-8";

/* MEDIA QUERIES */

@media screen and (min-width: 768px) {
    i#burguer{ display: none }

    nav {
        display: block;   
    }
    
    nav > ul > li {
        display: inline-block;
    }

    nav > ul > li > a {
        display: inline-block;
        
    }

    main {
        width: 768px;
    }
}

@media print {
    nav { display: none; }

    header::after {
        display: block;
        font-size: 1em;
        text-decoration: overline;
        Content: 'Impressão feita através do site Testando Media Queries'
    }
}