@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}

:root {
    --cor0: #5f2c82;
    --cor1: #49a09d;
}

body {
    background-color: var(--cor0);
}

main {
    background-color: white;
    width: 250px;
    height: 530px;
    margin: 5vh auto;
    border-radius: 20px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.322);
}

div#imagem {
    height: 200px;
    width: 250px;
    background: black url(../imagens/metal.jpg) left bottom/cover no-repeat fixed;
    border-radius: 20px 20px 0px 0px;
}

div#formulario > h1 {
    text-align: center;
    padding: 10px;
}

div#formulario > p {
    font-size: 0.8em;
    padding: 5px 10px;
    line-height: 1.2em;
}

div#formulario > form > p {
    text-align: center;
    padding: 4px;
    margin: 4px 10px;
    border-radius: 10px;
}

div#formulario > form > p.digi {
    background-color: var(--cor0);
}

div#formulario > form > p.digi > input {
    background-color: #94CFCD;
    padding: 10px;
    font-size: 0.85em;
    border: 0px transparent;
    border-radius: 10px;
}

div#formulario > form > p.entrar > input {
    width: 220px;
    background-color: #84b9b8;
    color: white;
    padding: 10px;
    font-size: 0.9em;
    font-weight: bold;
    border: 1px solid #7aaaa9;
    border-radius: 10px;
    cursor: pointer;
}

div#formulario > form > p.entrar > input:hover {
    background-color: #568b89;
}

div#formulario > form > p.esqueci > input {
    width: 220px;
    background-color: white;
    color: var(--cor1);
    padding: 10px;
    border: 2px solid #7aaaa9;
    border-radius: 10px;
    cursor: pointer;
}

div#formulario > form > p.esqueci > input:hover {
    background-color: #82ccca;
    color: white;
}