@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/*
#49a09d (verde)
#5f2c82 (roxo)
*/

html, body {
    background-color: #5f2c82;
}

main {
    position: relative;
    width: 100vw;
    height: 100vh;
}

section#login {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    width: 250px;
    height: 515px;
    border-radius: 20px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.24);
    transition: width 0.3s, height 0.3s;
    transition-timing-function: ease;
}

section#login > div#imagem {
    display: block;
    background: #5f2c82 url(../imagens/metal.jpg) left bottom/cover no-repeat;
    height: 200px;
    border-radius: 20px 20px 0px 0px;
}

section#login > div#formulario {
    padding: 10px;
}

section#login > div#formulario > h1 {
    text-align: center;
    padding: 5px;
}

section#login > div#formulario > p {
    font-size: 0.8em;
    text-align: justify;
}

section#login > div#formulario > form > p {
    background-color: #5f2c82;
    width: 100%;
    height: 45px;
    margin-top: 3px;
    padding: 3px;
    border-radius: 10px;
}

section#login > div#formulario > form > p > input {
    background-color: #aaf5f2;
    width: calc(100% - 30px);
    font-size: 1em;
    height: 40px;
    border: none;
    border-radius: 10px;
}

section#login > div#formulario > form > input[type=submit] {
    display: block;
    background-color: #509e9c;
    color: white;
    width: 100%;
    height: 45px;
    font-size: 1em;
    text-align: center;
    margin-top: 3px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

section#login > div#formulario > form > input[type=submit]:hover {
    background-color: #41817f;
}

section#login > div#formulario > form > a {
    display: block;
    color: #284e4d;
    width: 100%;
    height: 45px;
    margin-top: 3px;
    text-decoration: none;
    text-align: center;
    border: 2px solid #509e9c;
    border-radius: 10px;
}

section#login > div#formulario > form > a:hover {
    background-color: #72f5f0;
}